/* ==========================================================================
   Base
   ========================================================================== */

body {}
a {}

/* =============================================================================
   Header
   ========================================================================== */


/* ==========================================================================
   Content
   ========================================================================== */


/* ==========================================================================
   Footer
   ========================================================================== */


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
